.videos {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    padding: 20px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    padding: 0 20px;
    line-height: 1.5;
}

.channelname {
    font-size: 23px;
}

.time_options {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.views {
    font-size: 12px;
}

.timestamp {
    font-size: 13px;
}

.videos_duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
}

.channel_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.pointer {
    cursor: pointer;
}

.absolute {
    position: absolute;
}
